* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

nav {
  text-transform: uppercase;
}