.invitation {
  background: #DABAA1;
  margin-top: 100px;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.invitation__title {
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.invitation__button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #dbbba2 inset, 0 0 0 0 #dbbba2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;

}
.invitation__button:hover {
  box-shadow: 0 0 10px 0 #dbbba2 inset, 0 0 10px 4px #ffffff;
  color: #ffffff;
}