.works {
  padding-top: 80px;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  display: grid;
  align-content: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: auto;
  grid-gap: 20px;
  
  grid-template-areas: "a a b b b b c c c"  
                       "a a b b b b c c c"
                       "a a b b b b c c c"  
                       "d d d d d e e e e"  
                       "d d d d d e e e e"  
                       "d d d d d e e e e"  
                       "d d d d d f f f f"  
                       "d d d d d f f f f"  
                       "d d d d d f f f f";
}

.works__meta {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.works__meta-title {
  font-size: 24px;
  line-height: 150%;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 17px;
  
  letter-spacing: 0.2em;
  border: 1px solid;
  border-image: linear-gradient(20deg,  #000000 38%, #dbbba2 65%);
  border-image-slice: 1;
}

.works__meta-img {
 
  
  width: 100%;
  
  object-fit: cover;
  
}

.works__grid-cell{
  width: auto;
  height: auto;
  
}

.works__gallery-image--selected {
  
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 50px; 
  box-sizing: border-box;
  z-index: 2; 
}

.works__gallery-image--selected > img {
  object-fit: contain !important; 
}

.works__gallery-image--selected:after{
  
  content: 'x'; 
  font-size: 35px;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
 
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  
  right: 20px; 
  top: 20px;
  color: white;
}

.works__gallery-image--selected:before { 
  content: ""; 
  width: 100vw;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: -1; 
  position: fixed;
}

.works__gallery-image{
  width: 100%;
  height: 100%;

  
} 

.works__gallery-image > img {
  height: 100%;    
  width: 100%;    
  object-fit: cover;
  cursor: pointer;
} 
